name: Build Mod Generator

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Install Gradle
      run: sudo apt install gradle -y

    - name: Build
      run: gradle build

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: ModCreator
        path: .
